// Добавляем прогресс-бар
.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #7c192a;
  transition: width 0.1s linear;
  z-index: 1;
}

.trackRow {
  position: relative; // Для позиционирования прогресс-бара
  // остальные стили остаются такими же
}

.trackContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2; // Чтобы контент был поверх прогресс-бара
  position: relative;
  // остальные стили переносим сюда из .trackRow
}